.btn{
  border: 1px solid transparent;
}

.btn-orange{
  width: 160px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
  background-color: #D87D4A;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
}

.btn-black{

}